name: Build README

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0 5 * * *'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
        cache: 'pip'
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt
    - name: Update README
      env:
        FERNAND0_TOKEN: ${{ secrets.FERNAND0_TOKEN }}
        GITHUB_USERNAME: ${{ github.repository_owner }}
      run: |
        python build_readme.py
    - name: Commit and push if README changed
      run: |
        git config --global user.email "fernand0+bot@elmundoesimperfecto.com"
        git config --global user.name "fernand0-bot"
        git diff --quiet || (git add README.md && git commit -m "Updated README" && git push)
